name: Sync Readme

on:
  push:
    paths:
      - README.md
  workflow_dispatch:

jobs:
  sync:
    name: Sync README
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Sync Readme
        env:
          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN}}
        run: ./gradlew modrinthSyncBody
